[submodule "tests/roms/nes-test-roms"]
	path = tests/roms/nes-test-roms
	url = https://github.com/christopherpow/nes-test-roms.git
[submodule "tests/roms/AccuracyCoin"]
	path = tests/roms/AccuracyCoin
	url = https://github.com/100thCoin/AccuracyCoin.git
